In [75]:
import pandas as pd
import numpy as np
df = pd.read_csv("FR Sales.csv", parse_dates=["Date"])
df.set_index('Date', inplace=True)
df

            ProductID             Zip  Units  Revenue Country
Date
1999-01-15        726  75056 CEDEX 01      1   115.45  France
1999-01-15       1909  75056 CEDEX 01      2   398.90  France
1999-02-15       1961  75056 CEDEX 01      1    97.07  France
1999-02-15       1517  75056 CEDEX 01      1   141.65  France

In [81]:
df = df.replace({"USA" : "UK"})
df

SyntaxError: invalid syntax (Temp/ipykernel_10664/207831064.py, line 2)